<div class="col-sm-12 col-lg-4 mb-3">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        <%= recipe.name%>
      </h4>
      <ul class="list-inline">
        <li class="list-inline-item">ID:<%= recipe.id%></li>
      </ul>
      <p class="card-text">正解のグラム:<%= recipe.gram%></p>
      <%= button_to '削除',admin_recipe_path(recipe.id), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-sm btn-danger'%>
      <ul>
        <% recipe.grams.each do |gram|%>
          <li>
            <%= gram.gram%>
          </li>
          <li class="list-inline-item">
            <%= button_to '削除',admin_recipe_gram_path(gram.recipe_grams.find_by(recipe_id: recipe.id)), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn btn-sm btn-danger'%>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</div>