<style>
  .disable {
    display: none;
  }

    #life-frame {
        margin: 0 auto;
        width: 80%;
        background-color: rgba(10, 0, 50, 0.6);
        display: flex;
        padding: 3px 3px;
    }

    #life-bar {
        height: 10px;
        background-color: rgb(0, 255, 255);
        transition: 300ms
    }

    #life-mark {
        width: 10px;
        height: 10px;
        border-radius: 3px;
        background-color: rgb(255, 255, 255);
        filter: saturate(500%);
        box-shadow: 0 0 5px 3px rgb(200, 255, 255),
                    0 0 7px 7px rgb(100, 255, 255);
    }

</style>
<!-- Rounded Modal -->
<section>
  <dialog class="nes-dialog is-rounded" id="dialog-rounded">
    <form method="dialog">
      <h5 class="title text-center">Game Start!!</h5>
      <p class="text-center">頑張ってください!!</p>
      <button class="nes-btn is-primary w-100">Start</button>
    </form>
  </dialog>
</section>

    <h1>戦闘画面</h1>
    <p>モンスター名</p>
    <p><%= @monster.name%></p>

    <button class="start">呪文を唱える</button>
    <button class="finish disable">終了</button>
    <%= link_to '結果画面へ', games_result_path(:monster_id => @monster.id), class: "disable",id: "result"%>

    <div>
        <p class="phrase">ここに認識させたい文字が表示されます</p>
        <p class="result">ここに正解かどうか表示されます</p>
        <p class="output">ここに認識された音声が表示されます</p>
    </div>

    <div id="life-frame">
        <div id="life-bar"></div>
        <div id="life-mark"></div>
    </div>

<%= audio_tag 'correct.mp3', id: "correct" %>
<%= audio_tag 'damege.mp3', id: "damege" %>
<%= audio_tag 'clear.mp3', id: "clear" %>
<%= audio_tag 'gameover.mp3', id: "gameover" %>
<script>
var myModal = document.getElementById('dialog-rounded');
document.onreadystatechange = function () {
  myModal.showModal()
};
</script>
<script>
var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;

var phrases = gon.names
var phrasePara = document.querySelector('.phrase');
var resultPara = document.querySelector('.result');
var recognizedSentences = document.querySelector('.output');

var startBtn = document.querySelector('.start');
var finishBtn = document.querySelector('.finish');
var resultLink = document.querySelector('#result');
var count = 0

const lifeBar = document.getElementById('life-bar')         // ライフバー
const lifeMark = document.getElementById('life-mark')       // ライフの光部分
const increaseBtn = document.getElementById('increase-btn') // + ボタン
const decreaseBtn = document.getElementById('decrease-btn') // - ボタン
let life = 100                                              // ライフ初期値
lifeBar.style.width = "100%"                                // ライフ初期幅

function voiceInput() {
  startBtn.disabled = true;
  startBtn.textContent = '認識中';

  var phrase = phrases[count];
  phrasePara.textContent = phrase;
  resultPara.textContent = '正誤判定中';
  resultPara.style.background = 'rgba(0,0,0,0.2)';
  recognizedSentences.textContent = '音声認識中';

  var recognition = new SpeechRecognition();

  recognition.lang = 'ja-JP';

  recognition.interimResults = false;
  recognition.maxAlternatives = 1;

  recognition.start();

  recognition.onresult = function(event) {

    var speechResult = event.results[0][0].transcript;
    recognizedSentences.textContent = '「　' + speechResult + '　」' + 'という音声が認識されました';
    if(speechResult === phrase) {
      resultPara.textContent = 'モンスターはダメージを受けた!!';
      resultPara.style.background = 'lime';
      correct.play();
      count++;

      	if (count < phrases.length) {
        startBtn.textContent = '次のターンへ';
        } else {
            //終了
            resultPara.textContent = 'モンスターはダメージを受けた!!工程が全て終了した';
            startBtn.classList.add("disable");
            finishBtn.classList.remove("disable");
            finishBtn.addEventListener('click', battleFinish);
        }

    } else {
      resultPara.textContent = '想定外の答えです';
      resultPara.style.background = 'red';
      startBtn.textContent = 'やり直す';
      damege.play();
      alterLife( -25 )
    }
  }

  recognition.onspeechend = function() {
    recognition.stop();
    startBtn.disabled = false;
  }

  recognition.onerror = function(event) {
    startBtn.disabled = false;
    startBtn.textContent = 'やり直す';
    recognizedSentences.textContent = '入力時間オーバーなのでやり直してください';
  }
  
}

function battleFinish () {
    // 効果音
    clear.play();
    resultPara.textContent = 'モンスターを倒した!!';
    finishBtn.classList.add("disable");
    resultLink.classList.remove("disable");
}

function gameOver () {
    // 効果音
    gameover.play();
    resultPara.textContent = '目の前が真っ暗になった';
    finishBtn.textContent = '最初からやり直す';
    finishBtn.addEventListener('click',function() {
        window.location.href = 'http://localhost:3000/'
    });
}

// *** ライフ変更処理 ***
function alterLife( value ){
    // lifeの値を算出する
    life += value 
    if ( life <= 0 ){
        // 算出の結果 0 以下になった場合
        life = 0
        // 0.3秒後に光部分を非表示にする
        setTimeout(function(){
            lifeMark.style.visibility = 'hidden'
        }, 300)
        // ゲームオーバの表示
        resultPara.textContent = '体力が0になった';
        resultPara.style.background = 'red';
        startBtn.classList.add("disable");
        finishBtn.classList.remove("disable");
        finishBtn.addEventListener('click', gameOver);
      

    } else {
        // 算出の結果 100 を超過した場合
        if ( life > 100 ) {
            life = 100
        }
        // 光部分を表示する
        lifeMark.style.visibility = 'visible'
    }
    // スタイル(幅)を更新する
    lifeBar.style.width = life + "%"
}

startBtn.addEventListener('click', voiceInput);

</script>
