<!-- Rounded Modal -->
<section>
  <dialog class="nes-dialog is-rounded" id="dialog-rounded">
    <form method="dialog">
      <h5 class="title text-center">Game Start!!</h5>
      <p class="text-center">モンスターが現れた!!</p>
      <button class="nes-btn is-primary w-100 battle-start">Start</button>
    </form>
  </dialog>
</section>

<button class="nes-btn mt-3" id="BGM">BGM</button>

    
      <div class="nes-table-responsive">
        <table class="nes-table is-bordered ms-auto">
          <thead>
            <tr>
              <th class="d-flex justify-content-between p-3">
                <p class="m-0">name:<%= @monster.name%></p>
                <p class="m-0">level:<%= @monster.level%></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="d-flex justify-content-between">
                <div>
                  <p class="m-0">HP:</p>
                </div>
                <div class="container">
                  <progress class="nes-progress is-error" id="life_monster" value="100" max="100"></progress>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="monster-img-box text-center">
        <i class="nes-mario my-4 mx-auto"></i>
      </div>

    <div class="user-box">
          <div class="nes-table-responsive">
        <table class="nes-table is-bordered is-centered">
          <thead>
            <tr>
              <th class="d-flex justify-content-between p-3">
                <p class="m-0">name:ユーザー</p>
                <p class="m-0">level:ビギナー</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="d-flex justify-content-between">
                <div>
                  <p class="m-0">HP:</p>
                </div>
                <div class="container">
                  <progress class="nes-progress is-success" id="life_user" value="100" max="100"></progress>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

<div class="nes-container is-rounded mt-3 text-center">
  <h2 class="encourage_to_speech">レシピを唱えろ!!</h2>
  <button class="start nes-btn is-primary">呪文を唱える</button>
  <button class="finish disable nes-btn is-success">終了</button>
  <button class="restart disable nes-btn is-error"></button>
  <%= link_to 'やり直す', games_path(:monster_id => @monster.id), class: "disable nes-btn is-error",id: "restart"%>
  <%= link_to '結果画面へ', games_result_path(:monster_id => @monster.id), class: "disable nes-btn is-success",id: "result"%>

    <div class="speech-result-box disable">
        <p class="phrase">ここに認識させたい文字が表示されます</p>
        <p class="result">ここに正解かどうか表示されます</p>
        <p class="output">ここに認識された音声が表示されます</p>
    </div>
</div>
<%= render 'audio' %>