<%= render 'audio' %>

<div class="container">
  <%= render 'start_modal' %>
  <%= render 'monster_info' %>
  <div class="monster-img-box text-center">
    <i class="nes-mario my-4 mx-auto"></i>
  </div>
  <%= render 'user_info' %>
  <%= render 'spel_box' %>
</div>

<%= javascript_pack_tag 'hello_vue' %>