<h1>クリアおめでとう！</h1>
<h2><%= @monster.name%>を倒した！</h2>
<h2><%= @gold%>Gを獲得した!!</h2>
<h2>あなたの現在のレベル:<%=@level_current.level_name%></h2>
<h2><%=@level_next.level_name%>まであと<%=@require_point%>G</h2>
<%= link_to 'モンスター一覧へ'%>
<%= link_to 'ランキング一覧へ'%>
<%= link_to 'アカウントを作る'%>